.site__header {
    padding: 10px 35px;
    background: var(--overlay-color);
    backdrop-filter: blur(5px);
}

.nav_ac {
    margin: 0;
    border: unset;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    font-weight: bold;
    z-index: 1000;
}

.icon {
    color: var(--text-color-2);
}

.icon:hover {
    color: var(--text-color);
}
