.about-header {
    padding: 100px;
    background-image: url("/public/background-dark-red.jpg");
    background-size: cover;
}

@media (max-width:991.98px) {
    .about-header {
        display: block;
        height: auto!important;
        padding: 30px;
    }
}

.title-name {
    font-size: 2.2rem;
    font-weight: 600;
}

.section-content {
    margin-bottom: 3rem;
}

.section-title {
    font-size: 1.7rem;
    position: relative;
    padding-bottom: 7px;
    font-weight: 800;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 3px;
    background: var(--text-color-3);
    border-radius: 3px;
}

.section-place {
    margin: 1rem 0;
}

.company-location {
    font-size: .9rem;
    margin-top: .3rem;
}

.location-icon {
    margin-right: 5px;
}

.place-content {
    color: var(--text-color-2);
}

.place-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

ul li::before {
    content: "\2022";
    color: var(--text-color-2);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.role-title {
    margin-bottom: .2rem;
}

.education-location {
    margin-top: 1rem;
}
